
/* color variable */

:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
}

.{
    font-family: ;
}




/* navbar styling */
#navbar{ padding: 0px 10px; }
 #main-logo{width: 165px;}
#navbar-items{    gap: 30px;}
.nav-link{text-decoration: none;}
#nav-franchise{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 20px;
    cursor: pointer;
}
#nav-order-online{
    background-color: var(--red);
    
    border-radius: 225px;
    padding: 15px 20px;
    cursor: pointer;
}
#btn-icon{

    padding: 5px 12px; }
#red{color: var(--red);}


 /* NavBar styling ended  */







.body-left{
    margin-left: auto;
    margin-top: 50px;

}
.body-right{margin-right: auto;

}

#children-images{
    gap: 30px;
}
section.franchises_first_section {
    position: relative;
    background: #ffffff0f;
    padding: 70px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#restaurant-pic{
    width: 240px;
}
.carusal-image{
    display: block;
}
#wellcome-image{
width: 100%;
object-fit: cover;
/* margin-right: auto;
margin-left: auto; */
/* display: flex;
flex-wrap: wrap; */

}
#franchises{
background-image: url(../images/s\ symbol.webp);

text-align: center;

}
.franchises-box{
display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}
.big-width{
width: 500px;

}

.card-container{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    gap: 90px;
    margin: 10px 10px;
}
/* .big-top-margin{
    margin-top: 200px;
} */
.big-top-padding{
    padding-top: 200px;
}

.card-img{
    /* width: 325px; */
    border-radius:10px ;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); */
    overflow: hidden;
}
.Opening-soon-card{
    width: 400px;
    margin: 20px;
    gap: 0px;
    background-color: #f4f4f4;
    border-radius:40px ;
    overflow: hidden;
    
}
.card-img img{
    width: 100%;
    height: auto;
    object-fit: cover;

}
.card-content{
    padding: 20px;
    text-align: center;

}
.card-content a{
    text-decoration: none;

}
/* .Opening-soon-card{
    padding: 20px;

} */

.card-button{
background-color: green;
    margin: 20px;
    border: 1px solid green;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;}
    .right-village{
        margin: 10px;
    }
    .right-village a{
        text-decoration: none;
    }

.text-deco{
    text-decoration: none;
}
.card-content h3{
    font-size: 24px;
    margin-bottom: 10px;


}
.Opening-soon-card h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
}
.card-content p{
    font-size: 15px;
    color: #fff;
}
.Opening-soon-card p{
    
    font-size: 15px;
    color: #666;
    text-align: center;
}
.Opening-soon-card a{
    font-size: 15px;
    color: #666;
    text-align: center;
}


.card-img img{

    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}
.left-area img{
    width: 120px;
} 
.footer{

    /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex; */
    display: flex;
    flex-wrap: row wrap;
    padding: 50px;
    color: #fff;
}
.footer > *{
    flex: 1 100%;
}
.footer-box{

    /* border: 2px solid  ; */
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.left-area{
    
}
.footer-bottom{
    width: 15%;
}
.footer h2{

    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: darkorange;
    letter-spacing: 3px;
}
.footer ul{
    list-style: none;
    padding-left: 0;

}
.footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.footer-bottom{
text-align: center;
color: #999;
padding-top: 30px;
}
.social{
    margin-top: 2.2em;
    color: gray;

}
.social a{
    background-color: var(--red);
    color: gray;
width: 30px;
height: 30px;
margin-right: 10px;

}
.social i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}
.red-c{
    color: var(--red);}
.image-icon{
    margin-right: auto;
    margin-left: auto;
    display: block;
}



/*  */
/*  */
/*  */
/* get a franchise tab started */

.form-page-heading{
text-align: center;
    margin-top:4rem ;
}


.form-container{

display: flex;
height: 50vh;
/* max-width: 800px; */
width: 100%;
justify-content: center;
align-items: center;
}
.form-container div.first-row{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    justify-content: space-between;
}
    form .first-row .first-form-box
 {   
width: calc(100% / 2 - 10px);

}
.first-row .first-form-box input
 { 
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px;
 }
 .form-label{
 /* font-size: 20px;        */

}
.bg-red{
    background-color: #f42625;
}
.form-button{
    background-color: #f42625;
    padding: 8px 15px;
    border-radius: 20px;
}

/* get a franchise tab ended */




/* feedback tab started */
/*  */
/*  */
/*  */
 
main{
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    
}
.feedback-star-rating div{
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}







.feedback-Registration-form{
    /* position: absolute; */
    /* top: 40%; */
    /* left: 50%; */
    transform: translate(50%, 10%);
width: 450px;
}
.feedback-Registration-form p {
    font-size: 20px;
    margin: 15px 0;
}

.feedback-Registration-form input{


    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.feedback-Registration-form button{

font-size: 19px;
font-weight: bold;
margin: 20px 0;
padding: 10px 15px;
width: 50%;


}




/* abouit us  */


.About-us-container1 img{
    width: 480px;
    border-radius: 7px;
}
.About-us-container2 img{
    
}